.leetCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 4em 4em 2em 4em;
  .leetCodeTitle {
    margin: 10px;
  }
}

.leetCodeTopic {
  font {
    margin-bottom: 10px;
  }
}
