.header {
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 20rem;
  height: 100vh;
  background: #312450;
}

.headerList {
  display: flex;
  height: 100%;
  align-items: center;
  ul {
    width: 100%;
    //   margin-top: -80px;
    padding: 0;
    li {
      text-align: right;
      width: 100%;
      padding: 0.5rem 2rem;
      font-size: 16px;
      font-weight: 800;
      // margin-top: 1.5rem;
      a {
        width: 100%;
        text-decoration: none;
        color: #fff;
        transition: color 0.2s ease;
        border-bottom: 1px #312450;
        position: relative;
        display: block;
        padding: 1.35em 0;
        transition: 0.2s all;
      }
      a:before,
      a:after {
        background: #3c2c62;
        border-radius: 0.2em;
        bottom: 0;
        content: "";
        height: 0.2em;
        position: absolute;
        right: 0;
        width: 100%;
      }
      a:after {
        max-width: 0;
      }
    }
    li:hover,
    li.active {
      a:after {
        max-width: 100%;
        transition: max-width 0.2s ease;
        background-image: linear-gradient(to right, #5e42a6, #b74e91);
      }
    }
  }
}

.languageSelect {
  bottom: 10px;
  left: 10px;
  text-align: right;
  color: #fff;
  background-color: #312450;
  border: #b74e91 3px solid;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 300px;
}

.languageSelect:focus {
  border: #5e42a6 3px solid;
}

//pad
@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .header {
    // width: 100%;
    // height: 4rem;
    // position: absolute;
    transition: 0.5s all;
    width: 160px;
    left: -160px;
  }
  .header.active {
    left: 0px;
  }
  // .headerList {
  //   ul {
  //     display: flex;
  //     li {
  //       text-align: center;
  //     }
  //   }
  // }
}
