.imgWall {
  .picCard {
    position: relative;
    display: flex;
    background: linear-gradient(
      to bottom,
      rgba(80, 80, 180, 1) 0%,
      rgba(84, 84, 190, 1) 100%
    );
    .img {
      width: 35%;
      height: 25rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .text {
      width: 65%;
      padding: 4em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 1.75em;
      }
      p {
        color: rgba(255, 255, 255, 0.55);
      }
    }
    .mask {
      position: absolute;
      width: 0;
      height: 0;

      z-index: 5;
      top: 0;
    }
  }
}

//pad
@media screen and (max-width: 660px) {
  .imgWall {
    .picCard {
      .img {
        height: auto;
      }
    }
  }
}
