$mySpotlight: #f5bc04;
$myBackground: #fff;
$myFont: #222;

// header高度&logo長寬
$headerHeight: 60px;

.cursor-pointer {
  cursor: pointer;
}

.App {
  background-color: $myBackground;
  color: $myFont;
  // +1rem
  padding-top: $headerHeight + 16px;
}

.logo {
  width: $headerHeight;
  height: $headerHeight;
  object-fit: contain;
  border-radius: 50%;
}

.header {
  margin: 0;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #f7f7f7;
  ul {
    width: 780px;
    margin: 0;
    li {
      text-align: center;
      width: 100%;

      a {
        width: 100%;
        text-decoration: none;
        color: $myFont;
        transition: 0.3s all;
      }
    }
    li:hover {
      a {
        color: $mySpotlight;
      }
    }
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.section {
  width: 100%;
  // height: 80vh;
  margin: 0;
  padding: 1rem;
}

.title {
  font-size: 24px;
  border-bottom: 1px solid #777;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
